@model IEnumerable<RuruPeru_ECommers.ServiceReference1.Producto>

@{
    ViewBag.Title = "IndexProducto";
}

<h2>IndexProducto</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcionCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcionProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stockProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tituloProducto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stockProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tituloProducto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
